{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block field_row %}
    {% for code in groups %}
        {% set show_group = admin.showgroups[code] %}

        {% if show_group.type  is not defined or show_group.type != 'additional-info' %}
            <div class="{{ show_group.class|default('col-md-6 lastPrim') }} {{ no_padding|default(false) ? 'nopadding' }} client-show">
                <div class="{{ show_group.box_class }}">
                    <div class="box-header">
                        <h4 class="box-title">
                            {% block show_title %}
                                {{ show_group.label|trans({}, show_group.translation_domain|default(admin.translationDomain)) }}
                            {% endblock %}
                        </h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <tbody>
                            {% for field_name in show_group.fields %}
                                {% block show_field %}
                                    <tr class="sonata-ba-view-container toptable">
                                        {% if elements[field_name] is defined %}
                                            {{ elements[field_name]|render_view_element(object) }}
                                        {% endif %}
                                    </tr>
                                {% endblock %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="{{ show_group.class|default('col-md-12') }} {{ no_padding|default(false) ? 'nopadding' }} client-show">
                <div class="{{ show_group.box_class }}">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ show_group.label|trans({}, show_group.translation_domain|default(admin.translationDomain)) }}
                        </h4>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-bordered">
                            <tbody>
                            {% set i = 0 %}
                            {% for field_name in show_group.fields %}
                                {% if (elements[field_name]|render_view_element(object)|replace({ (elements[field_name].options.label): '' })|raw|striptags|trim) %}
                                    {% set i = i+1 %}
                                    {% if i % 3 == 1 %}
                                        <tr>
                                    {% endif %}
                                    <td width="33%">
                                        {% if elements[field_name] is defined %}
                                            <div class="col-md-12 dopInf no-padding">
                                                <div class="col-md-5 no-padding">
                                                    <strong>{{ elements[field_name].options.label }}</strong>
                                                </div>
                                                <div class="col-md-6 no-padding">
                                                    {% if object.isHomeless == true and elements[field_name]|render_view_element(object)|replace({ (elements[field_name].options.label): '' })|raw|striptags|trim == 'Нет ответа' %}
                                                        Не отвечает
                                                    {% else %}
                                                        {{ elements[field_name]|render_view_element(object)|replace({ (elements[field_name].options.label): '' })|raw|striptags|trim }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                    {% if i % 3 == 0 %}
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if i % 3 != 0 %}
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                                                <script>
                                                $('th:contains("ФИО")').css('background-color', 'red');
        $('div.dopInf:contains("Группа")').css('background-color', 'red');
        $('div.dopInf:contains("Контактная информация")').css('background-color', 'red');
        $('div.dopInf:contains("Статус")').css('background-color', 'red');
        $('div.dopInf:contains("Дата регистрации")').css('background-color', 'red');
        $('div.dopInf:contains("С правилами ознакомлен")').css('background-color', 'red');
        
        var Group = $('div.dopInf:contains("Группа") > div.col-md-6').text();
        var Cont = $('div.dopInf:contains("Контактная информация") > div.col-md-6').text();
        var Stat = $('div.dopInf:contains("Статус") > div.col-md-6').text();
        var DatReg = $('div.dopInf:contains("Дата регистрации") > div.col-md-6').text();
        var Rules = $('div.dopInf:contains("С правилами ознакомлен") > div.col-md-6').text();
        
                $('div.dopInf:contains("Группа")').remove();
        $('div.dopInf:contains("Контактная информация")').remove();
        $('div.dopInf:contains("Статус")').remove();
        $('div.dopInf:contains("Дата регистрации")').remove();
        $('div.dopInf:contains("С правилами ознакомлен")').remove();
        
        $('tr.toptable:contains("Статус")').remove();

        $('tr.toptable:contains("Дата рождения")').after('<tr class="sonata-ba-view-container toptable"><th>Группа</th><td>' + Group + '</td></tr>');
        $('tr.toptable:contains("Группа")').after('<tr class="sonata-ba-view-container toptable"><th>Контакты</th><td>' + Cont + '</td></tr>');
        $('tr.toptable:contains("Контакты")').after('<tr class="sonata-ba-view-container toptable"><th>Дата регистрации</th><td>' + DatReg + '</td></tr>');
        $('tr.toptable:contains("Дата регистрации")').after('<tr class="sonata-ba-view-container toptable"><th>С правилами ознакомлен</th><td>' + Rules + '</td></tr>');
        $('tr.toptable:contains("С правилами ознакомлен")').after('<tr class="sonata-ba-view-container toptable"><th>Статус</th><td>' + Stat + '</td></tr>');
        
        $('div.dopInf:contains("Обратить внимание")').css('background-color', 'red');

        var MoreWaring = $('div.dopInf:contains("Обратить внимание") > div.col-md-6').text();
        
        $('div.dopInf:contains("Обратить внимание")').remove();

        $('div.lastPrim').before('<div class="col-md-6 client-show"><div class="box box-primary"><div class="box-header"><h4 class="box-title">Обратить внимание</h4></div><p>' + MoreWaring + '</p></div></div>');
        
                $('tr.toptable:contains("Пол")').remove();
        $('tr.toptable:contains("Место рождения")').remove();
        $('tr.toptable:contains("Проживание в приюте")').remove();
        $('tr.toptable:contains("Дата добавления")').remove();
        
                var CARD = $('tr.toptable:contains("ID") > th').text();

        $('tr.toptable:contains("ID")').remove();

        $('tr.toptable:contains("Контакты")').after('<tr style="height:29px" class="sonata-ba-view-container toptable toptableProbel"><th></th><td></td></tr>');

        $('tr.toptableProbel').after('<tr class="sonata-ba-view-container toptable"><th>Карта №</th><td>' + CARD + '</td></tr>');
        
    </script>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block title %}
    {{ "title_show"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    <script>
        $(document).ready(function () {
            if ($('.changeSelectinsData').parents('.form-group').find('[type="checkbox"]').prop('checked')) {
                $('.select2-result-label,.select2-chosen').each(function (key, item) {
                    if ($(item).text() === 'Нет ответа') {
                        $(item).text('Не отвечает')
                    }
                });
                $('select option').each(function (key, item) {
                    if ($(item).text() === 'Нет ответа') {
                        $(item).text('Не отвечает')
                    }
                });
            } else {
                $('.select2-result-label,.select2-chosen').each(function (key, item) {
                    if ($(item).text() === 'Не отвечает') {
                        $(item).text('Нет ответа')
                    }
                });
                $('select option').each(function (key, item) {
                    if ($(item).text() === 'Не отвечает') {
                        $(item).text('Нет ответа')
                    }
                });
            }
            $('.changeSelectinsData, .changeSelectinsData .iCheck-helper').on('click', function (event) {
                if ($(event.currentTarget).parents('.form-group').find('[type="checkbox"]').prop('checked')) {
                    $('.select2-result-label,.select2-chosen').each(function (key, item) {
                        if ($(item).text() === 'Нет ответа') {
                            $(item).text('Не отвечает')
                        }
                    });
                    $('select option').each(function (key, item) {
                        if ($(item).text() === 'Нет ответа') {
                            $(item).text('Не отвечает')
                        }
                    });
                } else {
                    $('.select2-result-label,.select2-chosen').each(function (key, item) {
                        if ($(item).text() === 'Не отвечает') {
                            $(item).text('Нет ответа')
                        }
                    });
                    $('select option').each(function (key, item) {
                        if ($(item).text() === 'Не отвечает') {
                            $(item).text('Нет ответа')
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}
