{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block field_row %}
    {% for code in groups %}
        {% set show_group = admin.showgroups[code] %}

        {% if show_group.type  is not defined or show_group.type != 'additional-info' %}
            <div class="{{ show_group.class|default('col-md-6 lastPrim') }} {{ no_padding|default(false) ? 'nopadding' }} client-show">
                <div class="{{ show_group.box_class }}">
                    <div class="box-header">
                        <h4 class="box-title">
                            {% block show_title %}
                                {{ show_group.label|trans({}, show_group.translation_domain|default(admin.translationDomain)) }}
                            {% endblock %}
                        </h4>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table">
                            <tbody>
                            {% for field_name in show_group.fields %}
                                {% block show_field %}
                                    <tr class="sonata-ba-view-container toptable">
                                        {% if elements[field_name] is defined %}
                                            {{ elements[field_name]|render_view_element(object) }}
                                        {% endif %}
                                    </tr>
                                {% endblock %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="{{ show_group.class|default('col-md-12') }} {{ no_padding|default(false) ? 'nopadding' }} client-show">
                <div class="{{ show_group.box_class }}">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ show_group.label|trans({}, show_group.translation_domain|default(admin.translationDomain)) }}
                        </h4>
                    </div>
                    <div class="box-body BOXDOP no-padding">
                        <table class="table table-bordered">
                            <tbody>
                            {% set i = 0 %}
                            {% for field_name in show_group.fields %}
                                {% if (elements[field_name]|render_view_element(object)|replace({ (elements[field_name].options.label): '' })|raw|striptags|trim) %}
                                    {% set i = i+1 %}
                                    {% if i % 3 == 1 %}
                                        <tr>
                                    {% endif %}
                                    <td width="33%">
                                        {% if elements[field_name] is defined %}
                                            <div class="col-md-12 dopInf no-padding">
                                                <div class="col-md-5 no-padding">
                                                    <strong>{{ elements[field_name].options.label }}</strong>
                                                </div>
                                                <div class="col-md-6 no-padding">
                                                    {% if object.isHomeless == true and elements[field_name]|render_view_element(object)|replace({ (elements[field_name].options.label): '' })|raw|striptags|trim == 'Нет ответа' %}
                                                        Не отвечает
                                                    {% else %}
                                                        {{ elements[field_name]|render_view_element(object)|replace({ (elements[field_name].options.label): '' })|raw|striptags|trim }}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                    {% if i % 3 == 0 %}
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if i % 3 != 0 %}
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                                                <script>
                                                
        $('div.dopInf:contains("Группа")').css('background-color', 'red');
        $('div.dopInf:contains("Контактная информация")').css('background-color', 'red');
        $('div.dopInf:contains("Статус")').css('background-color', 'red');
        $('div.dopInf:contains("Дата регистрации")').css('background-color', 'red');
        $('div.dopInf:contains("С правилами ознакомлен")').css('background-color', 'red');
        
        var Group = $('div.dopInf:contains("Группа") > div.col-md-6').text();
        var Cont = $('div.dopInf:contains("Контактная информация") > div.col-md-6').text();
        var Stat = $('div.dopInf:contains("Статус") > div.col-md-6').text();
        var DatReg = $('div.dopInf:contains("Дата регистрации") > div.col-md-6').text();
        var Rules = $('div.dopInf:contains("С правилами ознакомлен") > div.col-md-6').text();
        
                $('div.dopInf:contains("Группа")').remove();
        $('div.dopInf:contains("Контактная информация")').remove();
        $('div.dopInf:contains("Статус")').remove();
        $('div.dopInf:contains("Дата регистрации")').remove();
        $('div.dopInf:contains("С правилами ознакомлен")').remove();
        
        $('tr.toptable:contains("Статус")').remove();

        $('tr.toptable:contains("Дата рождения")').after('<tr class="sonata-ba-view-container toptable"><th>Группа</th><td>' + Group + '</td></tr>');
        $('tr.toptable:contains("Группа")').after('<tr class="sonata-ba-view-container toptable"><th>Контакты</th><td>' + Cont + '</td></tr>');
        $('tr.toptable:contains("Контакты")').after('<tr class="sonata-ba-view-container toptable"><th>Дата регистрации</th><td>' + DatReg + '</td></tr>');
        $('tr.toptable:contains("Дата регистрации")').after('<tr class="sonata-ba-view-container toptable"><th>С правилами ознакомлен</th><td>' + Rules + '</td></tr>');
        $('tr.toptable:contains("С правилами ознакомлен")').after('<tr class="sonata-ba-view-container toptable"><th>Статус</th><td>' + Stat + '</td></tr>');
        
        $('div.dopInf:contains("Обратить внимание")').css('background-color', 'red');

        var MoreWaring = $('div.dopInf:contains("Обратить внимание") > div.col-md-6').text();
        
        $('div.dopInf:contains("Обратить внимание")').remove();

        $('div.lastPrim').before('<div class="col-md-6 client-show"><div class="box box-primary"><div class="box-header"><h4 class="box-title">Обратить внимание</h4></div><p>' + MoreWaring + '</p></div></div>');
        
        var gender = $('tr:contains("С правилами ознакомлен") > div.col-md-6').text();
        
                $('tr.toptable:contains("Пол")').remove();
        $('tr.toptable:contains("Место рождения")').remove();
        $('tr.toptable:contains("Проживание в приюте")').remove();
        $('tr.toptable:contains("Дата добавления")').remove();
        
                var CARD = $('tr.toptable:contains("ID") > td').text();

        $('tr.toptable:contains("ID")').remove();

        $('tr.toptable:contains("Контакты")').after('<tr style="height:29px" class="sonata-ba-view-container toptable toptableProbel"><th></th><td></td></tr>');

        $('tr.toptableProbel').after('<tr class="sonata-ba-view-container toptable"><th>Карта №</th><td>' + CARD + '</td></tr>');
        
        var SranaRojd = $('div.dopInf:contains("Страна рождения") > div.col-md-6').text();
        var Grajd = $('div.dopInf:contains("Гражданство") > div.col-md-6').text();
        
        
         var SranaRojd = $('div.dopInf:contains("Страна рождения") > div.col-md-6').text();
        var Grajd = $('div.dopInf:contains("Гражданство") > div.col-md-6').text();
        var Doc = $('div.dopInf:contains("Документы есть?") > div.col-md-6').text();
        var WhatDoc = $('div.dopInf:contains("Какие документы?") > div.col-md-6').text();
        var RegRF = $('div.dopInf:contains("Регистрация в РФ") > div.col-md-6').text();
        var MestoPosl = $('div.dopInf:contains("Место последней регистрации") > div.col-md-6').text();
        var RodZan = $('div.dopInf:contains("Род занятий") > div.col-md-6').text();
        var IstSush = $('div.dopInf:contains("Источники существования") > div.col-md-6').text();
        var OsnIstSush = $('div.dopInf:contains("Основной источник существования") > div.col-md-6').text();
        var Pens = $('div.dopInf:contains("Пенсионер") > div.col-md-6').text();
        var PensRizon = $('div.dopInf:contains("Причина пенсии") > div.col-md-6').text();
        var JilPL = $('div.dopInf:contains("Проживает в жилом помещении") > div.col-md-6').text();
        var JilPLGde = $('div.dopInf:contains("Уточнить, где сейчас проживает?") > div.col-md-6').text();

        var RegPoMJ = $('div.dopInf:contains("Регистрация по месту жительства") > div.col-md-6').text();
        var SitWhen = $('div.dopInf:contains("Когда возникла ситуация, которая заставила обратиться за помощью?") > div.col-md-6').text();
        var Child = $('div.dopInf:contains("Дети есть?") > div.col-md-6').text();
        var ChildMore = $('div.dopInf:contains("Дети") > div.col-md-6').text();
        var RodstvNaPop = $('div.dopInf:contains("Родственники на попечении") > div.col-md-6').text();
        var SemPol = $('div.dopInf:contains("Семейное положение") > div.col-md-6').text();
        var KontRod = $('div.dopInf:contains("Контакты с родственниками") > div.col-md-6').text();
        var SkemJiv = $('div.dopInf:contains("С кем проживает?") > div.col-md-6').text();
        var SkemNaSV = $('div.dopInf:contains("С кем на связи?") > div.col-md-6').text();
        var RizBezd = $('div.dopInf:contains("Причины бездомности") > div.col-md-6').text();
        var Work = $('div.dopInf:contains("Работает?") > div.col-md-6').text();
        var WorkProf = $('div.dopInf:contains("Кем и где работает?") > div.col-md-6').text();
        var Obraz = $('div.dopInf:contains("Образование") > div.col-md-6').text();
        var FindWork = $('div.dopInf:contains("Ищет работу") > div.col-md-6').text();
        var NalProf = $('div.dopInf:contains("Наличие профессии") > div.col-md-6').text();
        var Prof = $('div.dopInf:contains("Профессия") > div.col-md-6').text();

        var WhenMigr = $('div.dopInf:contains("Когда приехал в данный регион?") > div.col-md-6').text();
        var MigTarg = $('div.dopInf:contains("С какой целью?") > div.col-md-6').text();
        var FromMig = $('div.dopInf:contains("Откуда приехал?") > div.col-md-6').text();
        var DifRegRF = $('div.dopInf:contains("Другой регион РФ") > div.col-md-6').text();
        var SpeakRF = $('div.dopInf:contains("Говорит по-русски?") > div.col-md-6').text();
        var LangVlad = $('div.dopInf:contains("Какими языками владеет?") > div.col-md-6').text();
        var LangVladMore = $('div.dopInf:contains("Какими языками владеет? (Другие)") > div.col-md-6').text();
        var VipDetDom = $('div.dopInf:contains("Выпускник детдома") > div.col-md-6').text();
        var MestaLishSvob = $('div.dopInf:contains("Был(а) в МЛС") > div.col-md-6').text();
        var HronBol = $('div.dopInf:contains("Хронические болезни") > div.col-md-6').text();
        var HronBolMore = $('div.dopInf:contains("Хронические болезни (другое)") > div.col-md-6').text();
        var Phone = $('div.dopInf:contains("Телефон") > div.col-md-6').text();
        var Email = $('div.dopInf:contains("E-mail") > div.col-md-6').text();
        var SocMed = $('div.dopInf:contains("Соцсети") > div.col-md-6').text();
        var ContNaSpecSluch = $('div.dopInf:contains("Контакты родств. / друзей в случае необходимости") > div.col-md-6').text();
        
        
        
        
        $(".BOXDOP").prepend('<div class="col-md-12 no-padding StolbF ANK"><div class="col-md-5 no-padding">Страна рождения</div><div class="col-md-6 no-padding">' + SranaRojd + '</div></div>');
        $('div.StolbF:contains("Страна рождения")').after('<div class="col-md-12 no-padding StolbF ANK"><div class="col-md-5 no-padding">Пол</div><div class="col-md-6 no-padding">' + gender + '</div></div>');

        $('div.StolbF:contains("Пол")').after('<div class="col-md-12 no-padding StolbF PravS"><div class="col-md-5 no-padding">Гражданство</div>' + Grajd + '</div>');
        $('div.StolbF:contains("Гражданство")').after('<div class="col-md-12 no-padding StolbF PravS"><div class="col-md-5 no-padding">Документы есть?</div>' + Doc + '</div>');
        $('div.StolbF:contains("Документы есть?")').after('<div class="col-md-12 no-padding StolbF PravS"><div class="col-md-5 no-padding">Какие документы?</div>' + WhatDoc + '</div>');
        $('div.StolbF:contains("Какие документы?")').after('<div class="col-md-12 no-padding StolbF PravS"><div class="col-md-5 no-padding">Регистрация в РФ</div>' + RegRF + '</div>');
        $('div.StolbF:contains("Регистрация в РФ")').after('<div class="col-md-12 no-padding StolbF PravS"><div class="col-md-5 no-padding">Место последней регистрации</div>' + MestoPosl + '</div>');


        $('div.StolbF:contains("Место последней регистрации")').after('<div class="col-md-12 no-padding StolbF EcoST"><div class="col-md-5 no-padding">Род занятий</div>' + RodZan + '</div>');
        $('div.StolbF:contains("Род занятий")').after('<div class="col-md-12 no-padding StolbF EcoST"><div class="col-md-5 no-padding">Источники существования</div>' + IstSush + '</div>');
        $('div.StolbF:contains("Источники существования")').after('<div class="col-md-12 no-padding StolbF EcoST"><div class="col-md-5 no-padding">Основной источник существования</div>' + OsnIstSush + '</div>');
        $('div.StolbF:contains("Основной источник существования")').after('<div class="col-md-12 no-padding StolbF EcoST"><div class="col-md-5 no-padding">Пенсионер</div>' + Pens + '</div>');
        $('div.StolbF:contains("Пенсионер")').after('<div class="col-md-12 no-padding StolbF EcoST"><div class="col-md-5 no-padding">Причина пенсии</div>' + PensRizon + '</div>');

        //След столбец

        $('div.StolbF:contains("Причина пенсии")').after('<div class="col-md-12 no-padding StolbS MestoJ"><div class="col-md-5 no-padding">Проживает в жилом помещении</div>' + JilPL + '</div>');
        $('div.StolbS:contains("Проживает в жилом помещении")').after('<div class="col-md-12 no-padding StolbS MestoJ"><div class="col-md-5 no-padding">Уточнить, где сейчас проживает?</div>' + JilPLGde + '</div>');
        $('div.StolbS:contains("Уточнить, где сейчас проживает?")').after('<div class="col-md-12 no-padding StolbS MestoJ"><div class="col-md-5 no-padding">Регистрация по месту жительства</div>' + RegPoMJ + '</div>');

        $('div.StolbS:contains("Регистрация по месту жительства")').after('<div class="col-md-12 no-padding StolbS RizObr"><div class="col-md-5 no-padding">Когда возникла ситуация, которая заставила обратиться за помощью?</div>' + SitWhen + '</div>');

        $('div.StolbS:contains("Когда возникла ситуация, которая заставила обратиться за помощью?")').after('<div class="col-md-12 no-padding StolbS SocSit"><div class="col-md-5 no-padding">Дети есть?</div>' + Child + '</div>');
        $('div.StolbS:contains("Дети есть?")').after('<div class="col-md-12 no-padding StolbS SocSit"><div class="col-md-5 no-padding">Дети</div>' + ChildMore + '</div>');
        $('div.StolbS:contains("Дети")').after('<div class="col-md-12 no-padding StolbS SocSit"><div class="col-md-5 no-padding">Родственники на попечении</div>' + RodstvNaPop + '</div>');
        $('div.StolbS:contains("Родственники на попечении")').after('<div class="col-md-12 no-padding StolbS SocSit"><div class="col-md-5 no-padding">Семейное положение</div>' + SemPol + '</div>');
        $('div.StolbS:contains("Семейное положение")').after('<div class="col-md-12 no-padding StolbS SocSit"><div class="col-md-5 no-padding">Контакты с родственниками</div>' + KontRod + '</div>');
        $('div.StolbS:contains("Контакты с родственниками")').after('<div class="col-md-12 no-padding StolbS SocSit"><div class="col-md-5 no-padding">С кем проживает?</div>' + SkemJiv + '</div>');
        $('div.StolbS:contains("С кем проживает?")').after('<div class="col-md-12 no-padding StolbS SocSit"><div class="col-md-5 no-padding">С кем на связи?</div>' + SkemNaSV + '</div>');
        $('div.StolbS:contains("С кем на связи?")').after('<div class="col-md-12 no-padding StolbS SocSit"><div class="col-md-5 no-padding">Причины бездомности</div>' + RizBezd + '</div>');

        $('div.StolbS:contains("Причины бездомности")').after('<div class="col-md-12 no-padding StolbS Rab"><div class="col-md-5 no-padding">Работает?</div>' + Work + '</div>');
        $('div.StolbS:contains("Работает?")').after('<div class="col-md-12 no-padding StolbS Rab"><div class="col-md-5 no-padding">Кем и где работает?</div>' + WorkProf + '</div>');
        $('div.StolbS:contains("Кем и где работает?")').after('<div class="col-md-12 no-padding StolbS Rab"><div class="col-md-5 no-padding">Образование</div>' + Obraz + '</div>');
        $('div.StolbS:contains("Образование")').after('<div class="col-md-12 no-padding StolbS Rab"><div class="col-md-5 no-padding">Ищет работу</div>' + FindWork + '</div>');
        $('div.StolbS:contains("Ищет работу")').after('<div class="col-md-12 no-padding StolbS Rab"><div class="col-md-5 no-padding">Наличие профессии</div>' + NalProf + '</div>');
        $('div.StolbS:contains("Наличие профессии")').after('<div class="col-md-12 no-padding StolbS Rab"><div class="col-md-5 no-padding">Профессия</div>' + Prof + '</div>');


        //След столбец

        $('div.StolbS:contains("Профессия")').after('<div class="col-md-12 no-padding StolbT MIG"><div class="col-md-5 no-padding">Когда приехал в данный регион?</div>' + WhenMigr + '</div>');
        $('div.StolbT:contains("Когда приехал в данный регион?")').after('<div class="col-md-12 no-padding StolbT MIG"><div class="col-md-5 no-padding">С какой целью?</div>' + MigTarg + '</div>');
        $('div.StolbT:contains("С какой целью?")').after('<div class="col-md-12 no-padding StolbT MIG"><div class="col-md-5 no-padding">Откуда приехал?</div>' + FromMig + '</div>');
        $('div.StolbT:contains("Откуда приехал?")').after('<div class="col-md-12 no-padding StolbT MIG"><div class="col-md-5 no-padding">Другой регион РФ</div>' + DifRegRF + '</div>');
        $('div.StolbT:contains("Другой регион РФ")').after('<div class="col-md-12 no-padding StolbT MIG"><div class="col-md-5 no-padding">Говорит по-русски?</div>' + SpeakRF + '</div>');
        $('div.StolbT:contains("Говорит по-русски?")').after('<div class="col-md-12 no-padding StolbT MIG"><div class="col-md-5 no-padding">Какими языками владеет?</div>' + LangVlad + '</div>');
        $('div.StolbT:contains("Какими языками владеет?")').after('<div class="col-md-12 no-padding StolbT MIG"><div class="col-md-5 no-padding">Какими языками владеет? (Другие)</div>' + LangVladMore + '</div>');

        $('div.StolbT:contains("Какими языками владеет? (Другие)")').after('<div class="col-md-12 no-padding StolbT Osob"><div class="col-md-5 no-padding">Выпускник детдома</div>' + VipDetDom + '</div>');
        $('div.StolbT:contains("Выпускник детдома")').after('<div class="col-md-12 no-padding StolbT Osob"><div class="col-md-5 no-padding">Был(а) в МЛС</div>' + MestaLishSvob + '</div>');
        $('div.StolbT:contains("Был(а) в МЛС")').after('<div class="col-md-12 no-padding StolbT Osob"><div class="col-md-5 no-padding">Хронические болезни</div>' + HronBol + '</div>');
        $('div.StolbT:contains("Хронические болезни")').after('<div class="col-md-12 no-padding StolbT Osob"><div class="col-md-5 no-padding">Хронические болезни (другое)</div>' + HronBolMore + '</div>');

        $('div.StolbT:contains("Хронические болезни (другое)")').after('<div class="col-md-12 no-padding StolbT CNT"><div class="col-md-5 no-padding">Телефон</div>' + Phone + '</div>');
        $('div.StolbT:contains("Телефон")').after('<div class="col-md-12 no-padding StolbT CNT"><div class="col-md-5 no-padding">E-mail</div>' + Email + '</div>');
        $('div.StolbT:contains("E-mail")').after('<div class="col-md-12 no-padding StolbT CNT"><div class="col-md-5 no-padding">Соцсети</div>' + SocMed + '</div>');
        $('div.StolbT:contains("Соцсети")').after('<div class="col-md-12 no-padding StolbT CNT"><div class="col-md-5 no-padding">Контакты родств. / друзей в случае необходимости</div>' + ContNaSpecSluch + '</div>');









        $('.StolbF').wrapAll('<div class="col-md-4"></div>');
        $('.StolbS').wrapAll('<div class="col-md-4"></div>');
        $('.StolbT').wrapAll('<div class="col-md-4"></div>');

        $('.ANK').wrapAll('<div class="card"></div>');
        $('div.StolbF:contains("Страна рождения")').before('<div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapse">Анкетные данные</a></div>');
        $('.ANK').wrapAll('<div id="collapse" class="collapse" data-parent="#accordion"></div>');
        $('.ANK').wrapAll('<div class="card-body"></div>');

        $('.PravS').wrapAll('<div class="card"></div>');
        $('div.StolbF:contains("Гражданство")').before('<div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapsePS">Правовой статус</a></div>');
        $('.PravS').wrapAll('<div id="collapsePS" class="collapse" data-parent="#accordion"></div>');
        $('.PravS').wrapAll('<div class="card-body"></div>');

        $('.EcoST').wrapAll('<div class="card"></div>');
        $('div.StolbF:contains("Род занятий")').before('<div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapseES">Экономический статус</a></div>');
        $('.EcoST').wrapAll('<div id="collapseES" class="collapse" data-parent="#accordion"></div>');
        $('.EcoST').wrapAll('<div class="card-body"></div>');

        $('.MestoJ').wrapAll('<div class="card"></div>');
        $('div.StolbS:contains("Проживает в жилом помещении")').before('<div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapseMJ">Место жительства</a></div>');
        $('.MestoJ').wrapAll('<div id="collapseMJ" class="collapse" data-parent="#accordion"></div>');
        $('.MestoJ').wrapAll('<div class="card-body"></div>');

        $('.RizObr').wrapAll('<div class="card"></div>');
        $('div.StolbS:contains("Когда возникла ситуация, которая заставила обратиться за помощью?")').before('<div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapseWSH">Причина обращения в центр</a></div>');
        $('.RizObr').wrapAll('<div id="collapseWSH" class="collapse" data-parent="#accordion"></div>');
        $('.RizObr').wrapAll('<div class="card-body"></div>');

        $('.SocSit').wrapAll('<div class="card"></div>');
        $('div.StolbS:contains("Дети есть?")').before('<div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapseSS">Социальная ситуация</a></div>');
        $('.SocSit').wrapAll('<div id="collapseSS" class="collapse" data-parent="#accordion"></div>');
        $('.SocSit').wrapAll('<div class="card-body"></div>');

        $('.Rab').wrapAll('<div class="card"></div>');
        $('div.StolbS:contains("Работает?")').before('<div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapseRab">Работа</a></div>');
        $('.Rab').wrapAll('<div id="collapseRab" class="collapse" data-parent="#accordion"></div>');
        $('.Rab').wrapAll('<div class="card-body"></div>');

        $('.MIG').wrapAll('<div class="card"></div>');
        $('div.StolbT:contains("Когда приехал в данный регион?")').before('<div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapseMig">Миграция</a></div>');
        $('.MIG').wrapAll('<div id="collapseMig" class="collapse" data-parent="#accordion"></div>');
        $('.MIG').wrapAll('<div class="card-body"></div>');

        $('.Osob').wrapAll('<div class="card"></div>');
        $('div.StolbT:contains("Выпускник детдома")').before('<div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapseOsob">Особые примечания</a></div>');
        $('.Osob').wrapAll('<div id="collapseOsob" class="collapse" data-parent="#accordion"></div>');
        $('.Osob').wrapAll('<div class="card-body"></div>');

        $('.CNT').wrapAll('<div class="card"></div>');
        $('div.StolbT:contains("Телефон")').before('<div class="card-header"><a class="card-link" data-toggle="collapse" href="#collapseCNT">Контакты</a></div>');
        $('.CNT').wrapAll('<div id="collapseCNT" class="collapse" data-parent="#accordion"></div>');
        $('.CNT').wrapAll('<div class="card-body"></div>');
    </script>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block title %}
    {{ "title_show"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    <script>
        $(document).ready(function () {
            if ($('.changeSelectinsData').parents('.form-group').find('[type="checkbox"]').prop('checked')) {
                $('.select2-result-label,.select2-chosen').each(function (key, item) {
                    if ($(item).text() === 'Нет ответа') {
                        $(item).text('Не отвечает')
                    }
                });
                $('select option').each(function (key, item) {
                    if ($(item).text() === 'Нет ответа') {
                        $(item).text('Не отвечает')
                    }
                });
            } else {
                $('.select2-result-label,.select2-chosen').each(function (key, item) {
                    if ($(item).text() === 'Не отвечает') {
                        $(item).text('Нет ответа')
                    }
                });
                $('select option').each(function (key, item) {
                    if ($(item).text() === 'Не отвечает') {
                        $(item).text('Нет ответа')
                    }
                });
            }
            $('.changeSelectinsData, .changeSelectinsData .iCheck-helper').on('click', function (event) {
                if ($(event.currentTarget).parents('.form-group').find('[type="checkbox"]').prop('checked')) {
                    $('.select2-result-label,.select2-chosen').each(function (key, item) {
                        if ($(item).text() === 'Нет ответа') {
                            $(item).text('Не отвечает')
                        }
                    });
                    $('select option').each(function (key, item) {
                        if ($(item).text() === 'Нет ответа') {
                            $(item).text('Не отвечает')
                        }
                    });
                } else {
                    $('.select2-result-label,.select2-chosen').each(function (key, item) {
                        if ($(item).text() === 'Не отвечает') {
                            $(item).text('Нет ответа')
                        }
                    });
                    $('select option').each(function (key, item) {
                        if ($(item).text() === 'Не отвечает') {
                            $(item).text('Нет ответа')
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}
